@model _23DH114872_MyStore.Models.ViewModel.HomeProductVM
@{
    ViewBag.Title = "Customer Home Page";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    head {
        background-color: aqua;
    }

    body {
        background-color: aqua;
    }
</style>
<head>
    <h2>TRANG QUẢN TRỊ</h2>
</head>
<body>

</body>

